<footer>
    <div class="footer-top">
        <div class="slogan-footer" >
            Ready to grow your business?
        </div>

        <div class="ft-top-right" >
            <div class="contact">
                <form>
                    <input type = "text" class = "search-input" placeholder="Enter Your email">
                    <button type = "submit" class = "submit">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="ft-bottom-left" >
            <a href="">Product</a>
            <a href="">Overviews</a>
            <a href="">Features</a>
            <a href="">solutions</a>
            <a href="">Tutorials</a>
            <a href="">Pricing</a>
            <a href="">Release</a>
        </div>
        <div class="ft-bottom-center" >
            <a href="">About Us</a>
            <a href="">Careers</a>
            <a href="">Press</a>
            <a href="">News</a>
            <a href="">Media kit</a>
            <a href="">Contact</a>

        </div>
        <div class="ft-bottom-center" >
            <a href="">Ressources</a>
            <a href="">Blog</a>
            <a href="">Newsletter</a>
            <a href="">Events</a>
            <a href="">Help Center</a>
            <a href="">Tutorials</a>
            <a href="">Support</a>

        </div>
        <div class="ft-bottom-right" >
            <a href="">Socio</a>
            <a href="">Twitter</a>
            <a href="">Linkedin</a>
            <a href="">Facebook</a>
            <a href="">GitHub</a>
            <a href="">AngeList</a>
            <a href="">Dribbble</a>
        </div>
        
    </div>
    
    <div class="ft-footer">
        <div class="ft-ft-left">
            ©Darcho.dev 2023
        </div>
        <div class="ft-ft-right">
           <a href="">Cookies policy</a>
           <a href="">Privacy Policy</a>
            <a href="">Legal Notice</a>
        </div>
    </div>
    <h1>{{region.label}} -- {{region.id}}</h1>

    <input type="number" name="{{region.label}}" (change) = "maj()" [(ngModel)]="region.label">
</footer>
